# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.env/
venv/
ENV/
env.bak/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Results and output files
results/
*.png
*.txt

# Data files (optional)
*.csv

# OS-specific files
.DS_Store
Thumbs.db
